# Git & IDE
.git
.gitignore
.idea
.vscode
*.iml

# Maven/Build
target
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# OS/Temp
*.log
*.swp
.DS_Store

# Node/Front (se houver)
node_modules
dist
